{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    {% for post in posts %}
            <div>
                <div class="flex items-center">
                    <div class="mr-2">
                        {{ post.title }}
                    </div>
                    <div>
                        <div class="font-medium text-gray-800 dark:text-gray-300">{{ post.text }}</div>
                        <div class="font-light text-gray-500 dark:text-gray-500">{{ post.created | date("M j, Y") }}</div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}
